.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 67px 50px 66px;
}
.logo_header_block {
  display: block;
  justify-self: center;
}
.logo_header {
  width: 135px;
  height: 154px;
  justify-self: center;
}
.navigation_header {
  display: flex;
}
.navigation_content {
  display: flex;
  align-items: center;
  width: 392px;
  height: 22px;
  padding-left: 0;
  color: black;
  gap: 33px;
  font-size: 18px;
  line-height: 21.13px;
  white-space: nowrap;
  list-style: circle;
}
.item_header_nav_nodot {
  list-style: none;
}
.underline_item {
  text-decoration: underline;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
  font-size: 18px;
}
.header__address {
  margin-left: 195px;
  max-width: 240px;
}
.phone_number_header,
.fact_adress_header {
  line-height: 25px;
}
.header_nav__height_correction {
  line-height: 5px; /*добавил так как без него у меня слипаются строчки*/
} 
.fact_adress_header__shift-line {
  line-height: 21px;
}
.main_content {
  position: relative;
}
.overlay_dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
.cover_lotusfield {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 757px;
  z-index: 0;
}
.overlay_text_title {
  position: relative;
  width: 1000px;
  min-height: 385px;
  color: white;
  font-family: "Raleway-Bold", sans-serif;
  z-index: 3;
  font-size: 100px;
  text-transform: uppercase;
}
.ONO_overlay {
  position: relative;
  top: 0;
  left: 0;
  letter-spacing: 29px;
}
.TEBE_overlay {
  position: relative;
  top: 137px;
  left: -13px;
  transform: translate(-50%, -50%);
  letter-spacing: 27px;
}
.correction_letter-spacing__second {
  font-size: 97px;
}
.NADO_overlay {
  position: relative;
  top: 155px;
  right: -614px;
  letter-spacing: 30px;
  font-size: 99px;
}
.cover_text_plus_button {
  position: relative;
  padding-top: 108px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  min-height: 51px;
  width: 1000px;
}
.lower_text_lotusfield {
  position: relative;
  z-index: 3;
  width: 657px;
  word-spacing: 20px;
  font-weight: 400;
  font-size: 21.8px;
}
.gambling_button {
  color: white;
  position: relative;
  z-index: 3;
  height: 51px;
  width: 256px;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  background: transparent;
  border-color: white;
  border: 1px solid currentColor;
}
.overlay_text_title_main {
  padding-top: 182px;
  padding-left: 64px;
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}
.lots_section {
  display: grid;
  min-height: 596px;
  position: relative;
  padding: 29px 24px 30px 24px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.lot_container_main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  width: 334px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 40px 45px 40px;
}
.film_dropout_lot {
  background-image: url("../images/card-lot-01.jpg");
}
.boring_day_lot {
  background-image: url("../images/card-lot-02.jpg");
}
.easy_picture_lot {
  background-image: url("../images/card-lot-03.jpg");
}
.film_dropout_lot__head,
.boring_day_lot__head,
.easy_picture_lot__head {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
}
.text_in_lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 250;
  font-size: 20px;
  line-height: 120%;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 3;
}
.under_lots_continue {
  margin-top: 4px;
  line-height: 28px;
  text-decoration: underline;
  margin-left: 40px;
  font-size: 20px;
}
.about_whole {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 72px;
  min-height: 595px;
  width: 1051px;
  padding: 120px 24px 123px 24px;
}
.background_for_logo {
  position: relative;
  margin-left: 47px;
  margin-top: 2px;
  width: 240px;
  height: 240px;
  border: 1px solid black;
  border-radius: 120px;
  background-color: black;
}
.logo-white_about {
  position: absolute;
  width: 148px;
  height: 114px;
  margin-left: 93.5px;
  margin-top: 66px;
  z-index: 3;
}
.about_head {
  padding-top: 7px;
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 100%;
  min-height: 47px;
  width: 297px;
}
.text_about {
  display: flex;
  flex-direction: column;
  width: 680px;
}
.text_about__top {
  margin-bottom: 24px;
  width: 688px;
}
.text_about__bottom {
  margin-bottom: 0px;
  width: 688px;
}
.text_about__bottom__correction {
  min-width: 690px;
}
.about_text_description {
  margin-top: 95px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 693px;
  min-height: 449px;
  gap: 104px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 5px;
}
.footer_whole {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: auto;
  gap: 10px;
  width: 100%;
  min-height: 180px;
}
.footer__correction {
  padding-top: 56px;
  padding-left: 50px;
}
.phone_number_footer {
  line-height: 25px;
}
.mail_adress_footer {
  line-height: 5px;
}
.fact_adress_footer {
  line-height: 25px;
}
.nav_footer_container {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  width: 164px;
  line-height: 21px;
  letter-spacing: 1px;
}
.navigation_content__footer {
  list-style-type: none;
  align-items: center;
  justify-items: center;
}
.links_footer {
  position: relative;
  display: flex;
  list-style: none;
  gap: 48px;
  padding-top: 58px;
  padding-left: 168px;
}
.link_icon_footer {
  position: relative;
  height: 48px;
  width: 48px;
}